<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            <ion-grid>
                <ion-row>
                    <ion-col col-4><h4>前端Blog</h4></ion-col>
                    <ion-col col-4></ion-col>
                    <ion-col col-2><h6>关于</h6></ion-col>
                    <ion-col col-2><h6>登录</h6></ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-list *ngFor="let group of groups;index as m">
        <ion-list-header>
            {{group.title}}
        </ion-list-header>
        <ion-item-sliding *ngFor="let item of group.group;index as n">
            <ion-item (click)="openDetail(item)">
                <h3>{{item.article_title}}</h3>
                <ion-row>
                    <ion-col col-8><p>{{item.tagNames}}</p></ion-col>
                    <ion-col col-4 text-end><p>{{item?.readNum||100}}人读过</p></ion-col>
                </ion-row>
            </ion-item>
            <ion-item-options side="left">
                <button ion-button color="primary" (click)="delete(m,n)">
                    <ion-icon name="trash"></ion-icon>
                    删除
                </button>
                <button ion-button color="secondary">
                    <ion-icon name="book"></ion-icon>
                    收藏
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-row>
        <ion-col col-8 offset-2>
            <button ion-button small outline (click)="prePage()" *ngIf="currenPage>1">上一页</button>
            <button ion-button small>{{currenPage}}</button>
            <button ion-button small outline (click)="nextPage()" *ngIf="currenPage<totalePage">下一页</button>
        </ion-col>
    </ion-row>

    <ion-chip *ngFor="let tag of tags" (click)="openTagSearch(tag)">
        <ion-label>{{tag.label}}({{tag.num||0}})</ion-label>
    </ion-chip>


    <ion-fab right middle>
        <button ion-fab color="light" (click)="goTop()">
            <ion-icon name="arrow-dropup"></ion-icon>
        </button>
    </ion-fab>


</ion-content>
